html {
  font-size: 62.5%; }
body {
  font-size: 1.6em;
  line-height: 1.6;
  font-weight: 400;
  background: #FAFAFA;
  font-family: "acumin-pro";
  color: #222; 
  overflow:hidden;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  /*font-family: "acumin-pro-wide"*/
}
h1 { font-size: 2.4rem; line-height: 1.2;}
h2 { font-size: 2.0rem; line-height: 1.25;font-weight: 700; margin-bottom: 0.2rem;}
h3 { font-size: 1.8rem; line-height: 1.3; }
h4 { font-size: 1.6rem; line-height: 1.35;}
h5 { font-size: 1.2rem; line-height: 1.5; }
h6 { font-size: 1.0rem; line-height: 1.6; }

p {
  margin-top: 0; 
  /*margin-bottom: 1.6rem;*/
}


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #222;
  text-decoration: none; }
a:hover {
  color: #111;
  text-decoration: none; }

#btn-save { 
  background: #222; 
  color: #FFF; 
  padding: 6px 16px 8px 16px; 
  border-radius: 4px;
  display: inline-block;
}
#btn-save:hover { 
  background: #111;
  cursor: pointer;
}
#btn-data{
  padding: 6px 16px 8px 16px; 
  margin-right: 16px;
  border: 1px solid #999;
  border-radius: 4px;
}
.meta{
  padding: 24px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  max-width: 1600px;
}

/* Custom
–––––––––––––––––––––––––––––––––––––––––––––––––– */\
#drawing{
}
.drawingBg{
  width: 100%;
  height: calc(100vh - 100px);
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #E0E0E0;
}

